In [1]:
import pandas as pd

 # Pandas Serileri

In [2]:
seri=pd.Series([1,2,3,4,5]) # serinin değerleri ve index değerleri bir arada verilir
seri

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
type(seri)

pandas.core.series.Series

In [4]:
seri.axes

[RangeIndex(start=0, stop=5, step=1)]

In [5]:
seri.ndim

1

In [6]:
seri.values

array([1, 2, 3, 4, 5], dtype=int64)

In [7]:
seri.head(2) # elemanları baştan kaç tane 
seri.tail(3)

2    3
3    4
4    5
dtype: int64

In [8]:
pd.Series([14,45,55,78],index=[1,3,5,7])

1    14
3    45
5    55
7    78
dtype: int64

In [9]:
pd.Series([14,45,55,78],index=["a","b","c","d"])

a    14
b    45
c    55
d    78
dtype: int64

In [10]:
sozluk=pd.Series({"reg":10,"Del":15})

In [11]:
sozluk

reg    10
Del    15
dtype: int64

In [12]:
pd.concat([seri,seri])

0    1
1    2
2    3
3    4
4    5
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
seri.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
list(seri.items())

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [15]:
seri**5

0       1
1      32
2     243
3    1024
4    3125
dtype: int64

``` Pandas DataFrame Olusturma ```

In [16]:
myList=[1,7,8,15,45,75,45]

In [17]:
pd.DataFrame(myList,columns=["Degisken_Ismı"])

   Degisken_Ismı
0              1
1              7
2              8
3             15
4             45
5             75
6             45

In [18]:
import numpy as np
m=np.arange(0,9).reshape(3,3)

In [19]:
df=pd.DataFrame(m,columns=["Var1","Var2","Var3"])

In [20]:
df.head()

   Var1  Var2  Var3
0     0     1     2
1     3     4     5
2     6     7     8

In [21]:
df.columns=("deg1","deg2","deg3")

In [22]:
df

   deg1  deg2  deg3
0     0     1     2
1     3     4     5
2     6     7     8

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df.shape

(3, 3)

In [25]:
df.values

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])